:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --naranja1: #df9643;
  --naranja2: #d67200;
  --naranja3: #d57b15;
  --rojo1: #f50606;
  --headingFont:'Staatliches', sans-serif;
  --textFont: 'Open Sans', sans-serif;
  --url: '../public/img/background1.jpg';
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  background-image: var(--url);
  min-height: 100%;
  background-color: black;
  font-size: 16px; 
  font-size: 3.0rem;
  font-family: var(--textFont);
  color: white;
}


/*
h1, h2 {
  font-family: var(--headingFont);
  margin: 0 0 2rem 0;
  text-align: left;
}
h1 span {
  font-weight: 400;
}
*/
h1 {
  font-family: var(--headingFont);
  color: var(--naranja3);
  font-size: 3.2rem;
  font-weight: 900;
  margin: 0 0 0.5rem 0;
  text-align: left;
}

h2 {
  font-family: var(--textFont);
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.7rem;
  text-align: justify;
  margin: 0 0 0.5rem 0;

}

p {
  font-family: var(--textFont);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  text-align: justify;
  margin: 0.5 0 0.5rem 0;

}

.cancion {
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  color: white;
  padding: 2px;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--naranja2);
}

.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--naranja3);
  font-family: var(--headingFont);
  padding: 2.2rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: var(--headingFont);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-left: 1rem;
  margin-right: 1rem;
}
.header-logo {
  width: 95%;
  height: 95%;
}


.iconSocial {
  width: 30px;
  height: 30px;
  margin: 0px 3px 0px 3px;
}
.responsive {
  width: 100%;
  height: auto;
}
/*
* {
  box-sizing: border-box;
}
*/
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.col-1 {width: 8.33%;}
.col-1-5 {width: 12.5%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-5 {width: 29.16%}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.coverSize3 {
  width: 300px;
  height: 188px;
}

.coverSize6 {
  width: 600px;
  height: 375px;
}


.contenedorCovers {
  text-align: center;
}

.cancion {
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  color: white;
  padding: 2px;
}
.iconLyrics {
  width: 15px;
  height: 15px;
}

.contenedor-integrantes {
  display: flex;
  justify-content: space-between;
}

.contenedor-albumes {
  display: flex;
  
}


.parser {
  white-space: pre-wrap;
}

.video {
  width: 20%;
  justify-content: space-between;
}

