:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --naranja1: #df9643;
  --naranja2: #d67200;
  --naranja3: #d57b15;
  --rojo1: #f50606;
  --headingFont:'Staatliches', sans-serif;
  --textFont: 'Open Sans', sans-serif;
  --bg: url(../src/assets/img/bg1.jpg);
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: black;
  font-size: 16px; 
  font-size: 3.0rem;
  font-family: var(--textFont);
  color: white;
  margin-top: 30px;
}

.bg-img {
  background-image: var(--bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
/*
  filter: blur(8px);
  -webkit-filter: blur(8px);
*/
}

/*
h1, h2 {
  font-family: var(--headingFont);
  margin: 0 0 2rem 0;
  text-align: left;
}
h1 span {
  font-weight: 400;
}
*/
h1 {
  font-family: var(--headingFont);
  color: var(--naranja3);
  font-size: 2.8rem;
  font-weight: 900;
  margin: 0 0 0.5rem 0;
  text-align: left;
}

h2 {
  font-family: var(--textFont);
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.7rem;
  text-align: justify;
  margin: 0 0 0.5rem 0;

}
p {
  font-family: var(--textFont);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
  text-align: justify;
  margin: 0.5 0 0.5rem 0;

}

.cancion {
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  color: white;
  padding: 2px;
}

.header {
  overflow: hidden;
  background-color: var(--naranja3);
  position: fixed;
  top: 0;
  width: 100%;

}
.header a {
  float: left;
  display: block;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: var(--headingFont);
  font-size: 2.4rem;

  margin: 0 5px;
/*  
  display: flex;
  justify-content: center;
  align-items: center;
*/ 
}
.header a:hover {
/*  background: #ddd;
  color: rgba(95, 86, 86, 0.897);
*/
  color: black;  
}
.header-item {
  position: relative;
}
.active {
  color: black;
}

.pxy-10 { padding: 10px;}

.center-v {
  vertical-align: middle;
}
.header-logo {
  width: 70%;
  height: 70%;
}

.main {
  padding: 50px 0 0 0;
  margin: 50px 100px 50px 100px;
}
.main-fotos {
  padding: 50px 0 0 0;
  margin: 50px 200px 50px 200px;
}



.mt-100 {
  margin-top: 100px;
}
.mlr-100 {
  margin: 50 250px;
}
.pd-fotos {padding: 15px;}
.pd-playlist {padding: 15px;}
.pd-albumes {padding: 15px;}
.pd-15 {padding: 15px;}
.mb-playlist {margin-bottom: 40px;}
.mb-albumes {margin-bottom: 40px;}
.mb-biografia {margin-bottom: 40px;}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
/*  background-color: black;*/
  font-family: var(--headingFont);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.0rem;
}
.footer a {
  margin-left: 1rem;
  margin-right: 1rem;

}

.footer a:hover {
  /*  background: #ddd; */
    color: var(--naranja3);
    
  }


/*
.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--naranja3);
  font-family: var(--headingFont);
  padding: 1.6rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  font-size: 2.8rem;
  position: fixed;
  top: 0;
  width: 100%;
}
*/
/*
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-left: 1rem;
  margin-right: 1rem;
}
*/


.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}


.iconSocial {
  width: 30px;
  height: 30px;
  margin: 0px 8px 0px 8px;
}
.responsive {
  width: 100%;
  height: auto;
}

.radius{border-radius: 10px;}
.hover:hover {box-shadow: 0 0 3px 1px rgb(247, 134, 6);}

.bg-dark{background-color: #5e555563;}
.bg-header{background-color: var(--naranja3);}

.navbar2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.6rem;
  text-decoration: none;
  font-family: var(--headingFont);
  font-size: 2.4rem;
}


/*
* {
  box-sizing: border-box;
}
*/
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.col-0-5 {width: 4.16%;}
.col-1 {width: 8.33%;}
.col-1-5 {width: 12.5%;}
.col-2 {width: 16.66%;}
.col-2-4 {width: 20%;}
.col-3 {width: 25%;}
.col-3-5 {width: 29.16%}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.coverSize3 {
  width: 300px;
  height: 188px;
}
.youtube-size6 {
  width: 100%;
  height: 375px;
}

.youtube-720 {
  width:720px;
  height:405px
};


.spotify-large {
  width: 100%;
  height: 250px;
}
.spotify-compact {
  width: 100%;
  height: 80px;
}





.cancion {
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  color: white;
  padding: 2px;
}
.iconLyrics {
  width: 15px;
  height: 15px;
}

.contenedor-integrantes {
  justify-content: space-evenly;
}

.contenedor-albumes {
  display: flex;
}


.parser {
  white-space: pre-wrap;
}

.video {
  width: 20%;
  justify-content: space-between;
}


.label-text {
  font-family: var(--textFont);
  line-height: 1.4;
  font-size: 1.6rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: left;
}
.input-text {
  font-family: var(--textFont);
  line-height: 1.4;
  font-size: 1.6rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--naranja3);
  border-radius: 4px;
}
.btn-submit {
  font-family: var(--textFont);
  color: white;
  line-height: 1.4;
  font-size: 1.6rem;
  width: 20%;
  padding: 12px 20px;
  margin: 15px 0;
  background-color: var(--naranja3);
  border: 2px solid var(--naranja3);
}

.alerta {
  font-family: var(--textFont);
  color: white;
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 12px 20px;
  margin: 15px 0;
  background-color: var(--naranja3);
  border-radius: 10px;
  text-align: center;
  width: 100%;
}